## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## KOMODO
.komodotools
*.komodoproject
*.kpf

## RAILS
.bundle
db/*.sqlite3
log/*.log
tmp/**/*

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
